:root {
    --blanco: #fff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size: 16px; /* 1 rem - 10 px */
    font-family:'Lato', sans-serif;
} 

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion-principal a {
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover {
    background-color: #ffc107;
    color: #212121;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 480px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav-bg {
    background-color: var(--secundario);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
    position: relative;
}

.contenido-hero {
position: absolute;

}

